a {
  color: crimson;
  text-decoration: none;
}

.about blockquote {
  background-color: #eaeaea;
}

.users span {
  font-weight: bold;
}

.users span:nth-of-type(2) {
  color:crimson;
}

.creators a {
  font-family: "Lato", sans-serif;
  text-decoration: none;
}

.creators .font {
  font-family: "PT Serif";
  font-weight: bold;
}

#cta {
  color: crimson;
  font-weight: bold;
}

li:nth-of-type(odd) {
  text-decoration: underline;
}

.animation {
  display: inline-block;
  position: relative;
}

/* nav a {
  color: blue;
} */

.animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: crimson;
  transform-origin: bottom right;
  transition: transform 0.35s ease-out;
}

.animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
